
.resume{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;

  align-items: flex-start;
}

.cv-container{
  width: 100vw;

  display: flex;
  justify-content: center;
}

.cv-header{
  background-color: #F9DBAC;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 30px;
    font-weight: 100;
  }
}

.cv-sidebar{
  color: white;
  background-color: #404040;
  width: 50%;
  height: fit-content;
  padding: 20px;
  left: 40px;
  transform: translateY(-150px);
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  & .sidebar-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    img{
      border-radius: 50%;
      border: 1px solid white;
      width: 120px;
      height: 120px;
    }
  }

  & .social-media-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    & .social-media{
      display: flex;
      flex-direction: column;
      gap: 5px;

      justify-content: center;
      align-items: center;

      img{
        width: 30px;
        height: 30px;
        background-color: white;
        padding: 5px;
        border-radius: 50%;
      }
    }
  }

  & .skills-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  & .additional-information-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
}

.cv-body{
  display: flex;
  flex-direction: column;
  gap: 30px;

  & .professional-summary{
    margin-top: 30px;
    p{
      margin-top: 10px;
    }
  }

  & .professional-experience{
    margin: 10px 0;
    display: flex;
    flex-direction: column;

    gap: 20px;

    & .occupation{
      margin:  2px 0 10px 0;
    }
  }

  & .education{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.title{
  font-weight: bold;
  font-size: 20px;
}

ul{
  padding:  0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li{
    text-align: start;
  }
}

.divider {
  border-bottom: 2px solid black;
  width: 100%; 
}

.divider-sidebar {
  border-bottom: 2px solid white;
  width: 100%; 
}

.cv-content{
  display: flex;
  gap: 40px;
}