<div class="cv-container">
  <div class="resume">
    <header class="cv-header">
      <h1>PEDRO ALMEIDA</h1>
    </header>
    <section class="cv-content">
      <section class="cv-sidebar">
        <div class="sidebar-picture">
          <img src="assets/images/Profile.jpeg" alt="profile">
        </div>
    
        <div class="social-media-container">
          <div class="social-media">
            <img src="assets/svg/arroba.svg" alt="email">
            <p>pedroalmeida&#64;gmail.com</p>
          </div>
          <div class="social-media">
            <img src="assets/svg/phone.svg" alt="phone">
            <p>(11) 23456 7890</p>
          </div>
          <div class="social-media">
            <img src="assets/svg/mark-location.svg" alt="mark-location">
            <p>São Paulo, SP</p>
          </div>
        </div>
    
        <div class="divider-sidebar"></div>
    
        <div class="skills-container">
          <p class="title">HABILIDADES</p>
          <ul>
            <li>Habilidades com uso de GPS e aplicativos de roteirização</li>
            <li>Conhecimento das rotas e vias da região</li>
            <li>Conhecimento em direção defensiva para evitar acidentes de trânsito</li>
            <li>Conhecimento em sistemas mecânicos</li>
            <li>Cordialidade e respeito no trato com os passageiros</li>
            <li>Zelo pelo bom funcionamento dos veículos</li>
            <li>Flexiblidade de horário</li>
            <li>Pontualidade ao honrar compromissos de transporte</li>
          </ul>
        </div>
    
        <div class="divider-sidebar"></div>
    
        <div class="additional-information-container">
          <p class="title">INFORMAÇÕES ADICIONAIS</p>
          <ul>
            <li>Curso MOPP [50h], CENTTRAN, São Paulo, 2019.</li>
            <li>Disponibilidade para trabalhar no período noturno.</li>
            <li>CNH na categoria D.</li>
          </ul>
        </div>
    
      </section>
      <section class="cv-body">
    
        <div class="professional-summary">
          <h2 class="title">RESUMO PROFISSIONAL</h2>
          <p>
            Motorista experiente e confiável com 06 anos de experiência no transporte de
            mercadorias e passageiros. Adepto de práticas de condução seguras e leis de
            trânsito. Com habilitação de categoria D e sem multas. Experiente em realizar
            manutenção e pequenos reparos em veículos.
          </p>
        </div>
    
        <div class="divider"></div>
    
        <div class="professional-experience">
          <h2 class="title"> EXPERIÊNCIA PROFISSIONAL</h2>
          <div class="professional-experience-content">
            <p class="work-date">
              Abril 2020-Atual
            </p>
            <p class="occupation">
              <b>Uber - Motorisa de aplicativo</b>, São Paulo
            </p>
            <ul class="functions">
              <li>Condução segura  e cautelosa de veículos, evitando multas de trânsito e riscos aos passageiros.</li>
              <li>Manutenção de serviço do veículo conforme programado, reduzindo o tempo de inatividade por problemas mecânicos.</li>
              <li>Aumento da satisfação do passageiro ao manter os veículos operando de forma limpa e segura.</li>
            </ul>
          </div>
    
          <div class="professional-experience-content">
            <p class="work-date">
              Fevereiro 2019 - Março 2020
            </p>
            <p class="occupation">
              <b>Transportadora Minuano - Motorista</b>, São Paulo
            </p>
            <ul class="functions">
              <li>Abastecimento de veículos em postos de combustível, evitando paradas repentinas nos trajetos devido a tanque vazios.</li>
              <li>Conferência de itens no ato de descarregamento, visando assegurar as boas condições e a precisão dos objetos transportados.</li>
              <li>Identificação de falhas e irregularidades no veículo, comunicando aos responsáveis para que providenciassem a correção dos problemas.</li>
            </ul>
          </div>
    
          <div class="professional-experience-content">
            <p class="work-date">
              Janeiro 2017 - Janeiro 2018
            </p>
            <p class="occupation">
              <b>Vai fácil BR - Motorista</b>, São Paulo
            </p>
            <ul class="functions">
              <li>Condução segura e cautelosa de veículos, evitando multas de trânsito e riscos aos passageiros.</li>
              <li>Definição de rotas de viagens, considerando as diferentes variáveis de trânsito para cumprir os cronogramas de trabalho.</li>
              <li>Transporte de passageiros, documentos e encomendas, seguindo com segurança as rotas estabelecidas no planejamento.</li>
            </ul>
          </div>
        </div>
    
        <div class="divider"></div>
    
        <div class="education">
          <h2 class="title">ESCOLARIDADE</h2>
          <div class="education-item">
            <p>Ensino Fundamental</p>
            <p><b>Escola Estadual Júlio de Carvalho Brarata,</b>São Paulo</p>
            <p>Dezembro 1999</p>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>